{{> above}}

<p>These are the backend APIs used by VectorLogoZone.</p>

<p>Feel free to use them for light, non-commercial use.  Please note that there are no uptime or stability guarantees.</p>

{{> below}}
