{{> above}}
<p>
<form id="metaform" method="post" action="/index.html">
    <fieldset>
        <legend>
            Company or project
        </legend>
        <div class="input-field">
            <label>Website</label>
            <input type="text" id="website" name="website" />
        </div>

        <div class="input-field">
            <button class="button">Start</button>
        </div>

    </fieldset>
</form>
</p>

{{> below}}
