{{> above}}

<h2>Tools</h2>

<p><a href="https://favicon.fileformat.info/">FavIcon</a> - generate a favicon from an <code>.svg</code>.  Works really well with <a href="https://github.com/FileFormatInfo/awesome-emoji#awesome-emoji-">SVG emoji</a>.

<p><a href="https://fontblast.vectorlogo.zone/">Font Blast</a> - split an SVG font into individual SVG files.</p>

<p><a href="https://color.vectorlogo.zone/">Color Analysis</a> - get the stroke and fill colors used in an SVG.</p>

<p>[coming soon] nice-funding - convert a Github FUNDING.yml into a pretty section for your README.</p>

<p>[coming soon] npm2sponsor - convert a package.json into a pretty Sponsors section for your README.</p>

<h2>API</h2>

<p>These are the backend APIs used by VectorLogoZone.</p>

<p>Feel free to use them for light, non-commercial use.  Please note that there are no uptime or stability guarantees.</p>

<p><a href="/api/quiz.json"><code>/api/quiz.json</code></a> - get some logos suitable for a logo quiz game.</p>

<p><a href="/api/random.json">/api/random.json</a> - get a random logo</p>

<p>See the <a href="https://github.com/VectorLogoZone/vlz-api">Github repository</a> for instructions.</p>

{{> below}}
