{{> above}}

<h2>Tools</h2>

<p>[coming soon] nice-funding - convert a Github FUNDING.yml into a pretty section for your README.</p>

<p>[coming soon] npm2sponsor - convert a package.json into a pretty Sponsors section for your README.</p>

<h2>API</h2>

<p>These are the backend APIs used by VectorLogoZone.</p>

<p>Feel free to use them for light, non-commercial use.  Please note that there are no uptime or stability guarantees.</p>

<p>See the <a href="https://github.com/VectorLogoZone/vlz-api">Github repository</a> for instructions.</p>

{{> below}}
