<html>
<head>
    <title>{{title}} Vector (SVG) Logos</title>
</head>
<body>
    <p>
        <img src="https://www.vectorlogo.zone/logos/{{logohandle}}/{{logohandle}}-ar21.svg" style="width:100%;"/>
    </p>
    <p>Perfectly formatted vector logos for {{title}} in consistent layouts and sizes in the standard .SVG file format</p>
</body>
</html>