{{> above}}
<p>

    LATER: instructions for using oEmbed


</p>
<h3>800w by 400h</h3>
<iframe src="https://api.vectorlogo.zone/oembed/iframe.html?logohandle={{logohandle}}" width="800" height="400"></iframe>`;

<h3>350w by 400h</h3>
<iframe src="https://api.vectorlogo.zone/oembed/iframe.html?logohandle={{logohandle}}" width="350" height="400"></iframe>`;


{{> below}}